<ion-content [fullscreen]="true" class="ion-padding">
  <div class="card-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Me</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-content">
        <div class="contact-icons">
          <a href="assets/files/ResumeJamesGai.pdf" target="_blank">
            <div class="contact-image">
              <img src="assets/icons/cv.png" alt="CV" />
            </div>
          </a>
          <a
            href="https://www.linkedin.com/in/james-gai-b0640a240/"
            target="_blank"
          >
            <div class="contact-image">
              <img src="assets/icons/linkedin.png" alt="LinkedIn" />
            </div>
          </a>
          <a href="https://github.com/JamesGai" target="_blank">
            <div class="contact-image">
              <img src="assets/icons/github1.png" alt="GitHub 1" />
            </div>
          </a>
          <a href="https://github.com/jgai284" target="_blank">
            <div class="contact-image">
              <img src="assets/icons/github2.png" alt="GitHub 2" />
            </div>
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <p class="thank-you">Thanks for visiting, Lok'tar ogar!</p>
</ion-content>
